body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#intro, #contacts, #experience {
    padding: 50px;
    color: white;
}

#intro {
    background-color: #3498db;
}

#contacts {
    background-color: #2ecc71;
}

#experience {
    background-color: #e74c3c;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: square;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
